.popup{
    position: fixed;
    top:25%;
    left:25%;
    width:35%;
    height:30vh;
    background-color: #fff;
}
.popupInner{
    position: relative;
    padding: 22px;
    background-color: #fff;
}

.popupInner button.closeBtn {  
    float:right;
}

.popDiv{
    float:right;
    margin:0;
}
